<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im56ZHZlbmhjcnVnYnFxemt0ZHBoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0NTgzMjUsImV4cCI6MjA4OTAzNDMyNX0.ZDVoFkeuYufozujZ3nRuRHd3EiAS2p8GZrxqneptEoU</string>
	<key>SUPABASE_PROJECT_URL</key>
	<string>https://nzdvenhcrugbqqzktdph.supabase.co</string>
</dict>
</plist>
